@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --surface-dim: #131313;
    --surface: #131313;
    --surface-bright: #393939;
    --surface-container-lowest: #0e0e0e;
    --surface-container-low: #1b1b1b;
    --surface-container: #1f1f1f;
    --surface-container-high: #2a2a2a;
    --surface-container-highest: #353535;

    --on-surface: #e2e2e2;
    --on-surface-variant: #c6c6c6;
    --primary: #ffffff;
    --on-primary: #1a1c1c;
    --outline: #919191;
    --outline-variant: #474747;
  }
}

.grain-overlay {
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 99;
  opacity: 0.03;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='grain'%3E%3CfeTurbulence baseFrequency='0.9' numOctaves='4'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23grain)'/%3E%3C/svg%3E");
  background-repeat: repeat;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #131313;
}

::-webkit-scrollbar-thumb {
  background: #474747;
}
